In [11]:
def Print(n):
    if n==0:
        return
    print(n)
    Print(n-1)

In [12]:
Print(5)

5
4
3
2
1

In [19]:
def fac(n):
    if n==1:
        return 1
    return n*fac(n-1)

In [20]:
fac(5)

120

In [67]:
def insert(arr, temp):
    if len(arr)==0 or temp>= arr[-1]:
        arr.append(temp)
        return
    value= arr[-1]
    arr.pop()
    insert(arr, temp)
    arr.append(value)
    return 
    
def sort(arr):
    if len(arr)==1:
        return
    temp= arr[-1]
    arr.pop()
    sort (arr)
    insert(arr, temp)
    return arr

In [68]:
abc= [1,4,6,3,7,2,0]
sort(abc)

[0, 1, 2, 3, 4, 6, 7]

In [102]:
new= Stack()
new.push(5)
new.push(6)
new.push(4)
new.push(1)
new.push(8)
new.push(0)
new.push(-2)

In [95]:
sort1(new)

Stack([-2, 0, 1, 4, 5, 6, 8])

In [87]:
def insert1(arr, temp):
    # Check if stack is empty or if temp should be inserted on top
    if arr.is_empty() or temp >= arr.peek():
        arr.push(temp)
        return
    # If temp is less than top, move the top element
    value = arr.pop()
    insert1(arr, temp)
    # Push the element back once insertion is done
    arr.push(value)


def sort1(arr):
    if arr.size() <= 1:
        return
    temp = arr.pop()
    sort1(arr)
    insert1(arr, temp)
    return arr

In [96]:
def middle(arr,k):
    if k==1:
        arr.pop()
        return
    temp = arr.pop()
    middle(arr, k-1)
    arr.push(temp)
    return arr

In [100]:
middle(new, 3)

Stack([-2, 0, 1, 6, 8])

In [99]:
new

Stack([-2, 0, 1, 4, 6, 8])

In [101]:
def reverse( arr):
    if arr.size()<=1:
        return
    temp = arr.pop()
    reverse(arr)
    arr.push(temp)
    return arr

In [103]:
reverse(new)

Stack([5, 6, 4, 1, 8, 0, -2])

In [2]:
def solve(n,k):
    if n==1 and k==1:
        return 0
    if k<= 2**(n-2):   
        print(solve(n-1,k))
        return solve(n-1,k)
        
    else:
        return ~solve(n-1, k-2**(n-2))

In [3]:
solve(2,1)

0

0

In [46]:

def hanoi( n, a, b, c,count):
    
    if n==0:
#   if n==1:
#       print(f" shift {n} from {a} to {c} ")        
        return count
    
    hanoi(n-1, a,c,b,count)
    print(f" shift {n} from {a} to {b} ")
    count[0] +=1
    
    hanoi(n-1, b,a,c,count)
    
    return count

In [47]:
hanoi(4, 1,2,3, [0])

 shift 1 from 1 to 3
 shift 2 from 1 to 2
 shift 1 from 2 to 1
 shift 3 from 1 to 3
 shift 1 from 3 to 2
 shift 2 from 3 to 1
 shift 1 from 1 to 3
 shift 4 from 1 to 2
 shift 1 from 2 to 1
 shift 2 from 2 to 3
 shift 1 from 3 to 2
 shift 3 from 2 to 1
 shift 1 from 1 to 3
 shift 2 from 1 to 2
 shift 1 from 2 to 1

[15]

In [38]:
count

0

In [40]:
def subsets(ip,op):
        if len(ip)==0:
            return [op]
        k=[]
        op1= op
        op2= op
        op2+= ip[0]
        
        k.extend(subsets(ip[1:], op1))
        k.extend(subsets(ip[1:], op2))
        
        return k 
print(subsets("abbc", ""))

['', 'c', 'b', 'bc', 'b', 'bc', 'bb', 'bbc', 'a', 'ac', 'ab', 'abc', 'ab', 'abc', 'abb', 'abbc']

In [19]:
def arsub(arr, ip, sum1):                  #return subsequences with sum k
    if len(arr)==0:
        if sum(ip)==sum1:
            return [ip]
        else: return []
    k=[]
    k.extend(arsub(arr[1:], ip, sum1))
    k.extend(arsub(arr[1:], ip+[arr[0]], sum1))
    return k
arsub([1,2,3,-1], [], 4)

[[2, 3, -1], [1, 3]]

In [55]:
def arsub2(index, arr,  sum1, s):            # return numbe rof subsequences
    if index== len(arr):
        if s== sum1:
            return 1
        else: return 0
    s+=arr[index]
    left=  arsub2(index+1,arr,sum1,s )
    s-=arr[index]
    right= arsub2(index+1,arr,sum1,s)
    return left+right
arsub2(0, [1,1,2,3,-1], 4, 0)

5

In [41]:
def arsub2(index, arr, ds, sum1, s):            # to print only one answer
    if index== len(arr):
        if s== sum1:
            print(ds)
            return True
        else: return False
    ds.append(arr[index])
    s+=arr[index]
    if arsub2(index+1,arr,ds,sum1,s ):
        return True
    s-=arr[index]
    ds.pop()
    if arsub2(index+1,arr,ds,sum1,s):
        return True
    return False
arsub2(0, [1,1,2,3,-1], [], 2, 0)

[1, 1]

True

In [3]:
def subset_uniq(ip, op, uni):
    if uni is None:
        uni= set()
    if len(ip) ==0:
        uni.add(op)
        return 
    subset_uniq(ip[1:], op, uni)
    subset_uniq(ip[1:], op+ip[0], uni)
    return uni

In [4]:
subset_uniq("abbc", "", None)

{'', 'a', 'ab', 'abb', 'abbc', 'abc', 'ac', 'b', 'bb', 'bbc', 'bc', 'c'}

In [5]:
x=""

In [6]:
x[1:]

''

In [41]:
def powerset(sub, op):
    if len(sub)==0:
        return [op]
    x= sub[0]
    k=[]
    k+=powerset(sub[1:], op)
    k+=powerset(sub[1:], op+x)
    return k

In [106]:
powerset(['a','c', 'b'],"")

['', 'b', 'c', 'cb', 'a', 'ab', 'ac', 'acb']

In [25]:
def unip(sub, op, uni):
    if uni is None:
        uni= set()
    if len(sub)==0:
        uni.add(op)
        return
    x= sub[0]
    
    unip(sub[1:], op, uni)
    unip(sub[1:], op+x, uni) 
    
    return uni

In [26]:
unip(['a','c', 'c'],"",None)

{'', 'a', 'ac', 'acc', 'c', 'cc'}

In [96]:
def spaces(ip,op):
    if len(ip)==0:
        return [op]
    
    k=[]
    op2=op+(ip[0])
    k.extend(spaces(ip[1:], op2))
    op1=op+("-")+ip[0]
    k.extend(spaces(ip[1:],op1) )
    
    return k

In [97]:
spaces("bcd", "a")

['abcd', 'abc-d', 'ab-cd', 'ab-c-d', 'a-bcd', 'a-bc-d', 'a-b-cd', 'a-b-c-d']

In [109]:
def spaces(ip,op):
    if len(ip)==0:
        return [op]
    
    k=[]
    op2=op+(ip[0])
    k.extend(spaces(ip[1:], op2))
    op1=op+ip[0].upper()
    k.extend(spaces(ip[1:],op1) )
    
    return k

In [115]:
spaces("abc","")

['abc', 'abC', 'aBc', 'aBC', 'Abc', 'AbC', 'ABc', 'ABC']